/* .general-appearance{
    background-color: #93e4c1;
} */
input{
    width: 350px;
    border-radius: 20px;
    height:40px;
    color:aliceblue;
    background: transparent;
    outline: none;
    border:2px solid rgba(131, 119, 119, 0.452);
}