@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
.formscreen{
   animation: fadeIn 1s;
}
.btn-highlight:hover{
    
    color: gold !important;
}
.general-appearance{
    height: 120vh;
    background-color: #93e4c1;
}
.float-text{
    font-size: large;
    border-radius: 20px;
    background-color: white;
    margin: 30px;
    padding: 30px;
}